<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AngryMouse.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <AngryMouse.Properties.Settings>
            <setting name="CursorSize" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="CursorAnimationLength" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="CursorVisibleDuration" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="ShakeActivationEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HotkeyActivationEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HotkeyActivationMode" serializeAs="String">
                <value>Hold</value>
            </setting>
            <setting name="HotkeyModifiers" serializeAs="String">
                <value>Control</value>
            </setting>
            <setting name="HotkeyKey" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="HideBuiltInCursor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CursorSourceMode" serializeAs="String">
                <value>System</value>
            </setting>
            <setting name="CursorCollectionName" serializeAs="String">
                <value>Adwaita</value>
            </setting>
            <setting name="ThemeMode" serializeAs="String">
                <value>Dark</value>
            </setting>
            <setting name="StartMinimizedToTray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DebugEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastImportCollectionFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="LastImportSettingsFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="LastExportSettingsFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomCursorPath" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomCursorHotspotX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CustomCursorHotspotY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ShakeTrackingInterval" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="ShakeMinimumSpeed" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ShakeMinimumTurns" serializeAs="String">
                <value>4</value>
            </setting>
        </AngryMouse.Properties.Settings>
    </userSettings>
</configuration>
